<a href="https://colab.research.google.com/github/kritisinghh/summercode/blob/main/Kriti.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
L=[11,12,13,14]

In [12]:
#WAP to add 50 and 60 to L
L=[11,12,13,14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

In [24]:
#WAP to remove 11 and 13 from L
L=[11,12,13,14,50,60]
print(L)
L.pop(0)
print(L)
L.pop(1)
print(L)

[11, 12, 13, 14, 50, 60]
[12, 13, 14, 50, 60]
[12, 14, 50, 60]

In [26]:
#WAP to sort L in ascending order
L.sort()
print(L)

[12, 14, 50, 60]

In [27]:
#WAP to sort L in descending order 
L.sort(reverse=True)
print(L)

[60, 50, 14, 12]

In [32]:
#WAP to search 13 in L
L=[11,12,13,14,50,60]
for i in range(len(L)):
  if L[i]==13:
    print("13 is found at",i,"index")
  else:
    print("13 is not found at",i,"index")

13 is not found at 0 index
13 is not found at 1 index
13 is found at 2 index
13 is not found at 3 index
13 is not found at 4 index
13 is not found at 5 index

In [33]:
#WAP to count number of elements in L
print("Number of elements in L:",len(L))

Number of elements in L: 6

In [34]:
#WAP to sum all the elements in L
print("Sum of all the elements in list L:",sum(L))

Sum of all the elements in list L: 160

In [35]:
#WAP to sum all the odd numbers in L
s=0
for i in L:
  if i%2!=0:
    s=s+i
print("Sum of all the odd numbers in list L:",s)

Sum of all the odd numbers in list L: 24

In [36]:
#WAP to sum all the even numbers in L
s=0
for i in L:
  if i%2==0:
    s=s+i
print("Sum of all the even numbers in list L:",s)

Sum of all the even numbers in list L: 136

In [37]:
#WAP to sum all prime numbers in L
s=0
for i in L:
  f=0
  for j in range(2,i//2+1):
    if i%j==0:
      f=1
  if f==0:
    s=s+i
print("Sum of all prime numbers in list L:",s)

Sum of all prime numbers in list L: 24

In [38]:
#WAP to clear all elements in L
L.clear()
print(L)

[]

In [39]:
#WAP to delete L
del L
print(L)

NameError: ignored

D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}

In [40]:
D={1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}
#WAP to add new entry in D;key=8 and value is 8.8
D[8]=8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [41]:
#WAP to remive key=2
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [42]:
#WAP to check whether 6 key is present in D
print("6 key is present in D:",6 in D)

6 key is present in D: False

In [43]:
#WAP to add all value present in D
s=0
for i in D:
  s=s+D[i]
print("Sum of all values present in D:",s)

Sum of all values present in D: 37.4

In [44]:
#WAP to update value of 3 to 7.1
D[3]=7.1
print(D)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [45]:
#WAP to clear the dictionary 
D.clear()
print(D)

{}

S1={10,20,30,40,50,60}
S2={40,50,60,70,80,90}

In [50]:
S1={10,20,30,40,50,60}
S2={40,50,60,70,80,90}
#WAP to add 55 and 66 in Set S1
S1.add(55)
S1.add(66)
print(S1)

{50, 66, 20, 55, 40, 10, 60, 30}

In [51]:
#WAP to remove 10 and 30 from Set S1
S1.remove(10)
S1.remove(30)
print(S1)

{50, 66, 20, 55, 40, 60}

In [53]:
#WAP to check whether 40 is present in S1
print("40 present in S1:",40 in S1)

40 present in S1: True

In [54]:
#WAP to find union between S1 and S2
print("Union between S1 and S2:",S1.union(S2))

Union between S1 and S2: {66, 70, 40, 80, 50, 20, 55, 90, 60}

In [55]:
#WAP to find the intersection between S1 and S2
print("Intersection between S1 and S2:",S1.intersection(S2))

Intersection between S1 and S2: {40, 50, 60}

In [56]:
#WAP to find the S1-S2
print("S1-S2:",S1-S2)

S1-S2: {66, 20, 55}

In [58]:
#WAP to print 100 random strings whose length is between 6 and 8
import string as s
import random as r
print("String:",s.ascii_letters)
for i in range(100):
  ranstr=r.sample(s.ascii_letters,7)
  stri="".join(ranstr)
  print("String ",i,":",stri)

String: abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
String  0 : wzuXlrn
String  1 : KRlczjI
String  2 : uwtbXSI
String  3 : bWRmwBc
String  4 : GYFJarz
String  5 : PWnbxGE
String  6 : jJrPEAO
String  7 : aeCcYfK
String  8 : ZKaWJko
String  9 : QBXpeVO
String  10 : ecMrhfA
String  11 : srTqflJ
String  12 : xKShbOV
String  13 : ITlDznO
String  14 : wHqaxhu
String  15 : TFfZIeO
String  16 : BJRsTwr
String  17 : nrGDqyV
String  18 : ngcmSsR
String  19 : KOYFlAN
String  20 : NsuhqMX
String  21 : EenpaWz
String  22 : izugdHb
String  23 : GAprcxj
String  24 : NnyKVMU
String  25 : rbMxQwa
String  26 : Qlfvxam
String  27 : UVMNOzI
String  28 : uhZcSQw
String  29 : RzWfsQq
String  30 : UyuDWGZ
String  31 : GHXTPmC
String  32 : JmfrWDx
String  33 : rbysGAX
String  34 : zZrxIke
String  35 : hcnoExd
String  36 : uDMHWTy
String  37 : SmrRtTo
String  38 : tUYjwPT
String  39 : qgNchRG
String  40 : VontHTl
String  41 : UqheKPM
String  42 : LYZEyVq
String  43 : NLoqTfm
String  44 : kGHfOiX
String  45 : WvUJweN
String  46 : NyuZWOM
String  47 : erznwWi
String  48 : qowGDtk
String  49 : vOIVXur
String  50 : YqFlUOz
String  51 : xHMayjI
String  52 : jgsYiXQ
String  53 : oAsOyJH
String  54 : OZoJabL
String  55 : EspMAlb
String  56 : UJzhPGe
String  57 : vEnetaK
String  58 : EODqkoj
String  59 : kirKEdg
String  60 : xPDnHYI
String  61 : lfDGMLX
String  62 : PRizHyD
String  63 : LXIthae
String  64 : dMxryqE
String  65 : bmGuFUd
String  66 : JhWSbui
String  67 : DCQesUW
String  68 : MHGoeSI
String  69 : qGgvsmt
String  70 : ObghRDy
String  71 : Bhvztpd
String  72 : pxWYEDR
String  73 : LpIMwsj
String  74 : qKpPmCx
String  75 : HvBrLCA
String  76 : qlgpnFQ
String  77 : gSYvcCx
String  78 : VAkKtDh
String  79 : CYZxgDd
String  80 : yYxNdvo
String  81 : gvxUbqA
String  82 : YvTwWeL
String  83 : xtkLRIm
String  84 : rVvHuPZ
String  85 : cPneipL
String  86 : gVfZMuN
String  87 : tNjQcsv
String  88 : rDjRstO
String  89 : eoLHjas
String  90 : xiNZEQv
String  91 : YwIzoNR
String  92 : YEuClFN
String  93 : woYcpAu
String  94 : jEqTbCW
String  95 : qjQCGbs
String  96 : MjFbolk
String  97 : FjcLJmM
String  98 : fMjpDWw
String  99 : zhZORWA

In [59]:
#WAP to print all prime numbers between 600 and 800
for i in range(600,801):
  f=0
  for j in range(2,i//2+1):
    if i%j==0:
      f=1
  if f==0:
    print("Prime Number:",i)

Prime Number: 601
Prime Number: 607
Prime Number: 613
Prime Number: 617
Prime Number: 619
Prime Number: 631
Prime Number: 641
Prime Number: 643
Prime Number: 647
Prime Number: 653
Prime Number: 659
Prime Number: 661
Prime Number: 673
Prime Number: 677
Prime Number: 683
Prime Number: 691
Prime Number: 701
Prime Number: 709
Prime Number: 719
Prime Number: 727
Prime Number: 733
Prime Number: 739
Prime Number: 743
Prime Number: 751
Prime Number: 757
Prime Number: 761
Prime Number: 769
Prime Number: 773
Prime Number: 787
Prime Number: 797

In [60]:
#WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9
print("Numbers divisible by 7 and 9:")
for i in range(100,1001):
  if (i%7==0 and i%9==0):
    print(i)

Numbers divisible by 7 and 9:
126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [64]:
#WAP to create list of 10 random numbers between 10 and 30 
import random as r
L1=[0,0,0,0,0,0,0,0,0,0]
L2=[0,0,0,0,0,0,0,0,0,0]
for i in range(0,10):
  L1[i]=(r.randint(10,30))
  L2[i]=(r.randint(10,30))
print(L1)
print(L2)

[10, 29, 18, 14, 24, 19, 15, 25, 23, 10]
[17, 23, 25, 27, 28, 13, 28, 15, 30, 19]

In [65]:
#Common numbers in two lists
L3=set(L1)
L4=set(L2)
print("Numbers common in two lists",L3.intersection(L2))

Numbers common in two lists {25, 19, 15, 23}

In [66]:
#Unique numbers in both lists
print("Unique numbers in list 1:",L3-L4)
print("Unique numbers in list 2:",L4-L3)

Unique numbers in list 1: {10, 14, 18, 24, 29}
Unique numbers in list 2: {13, 17, 27, 28, 30}

In [67]:
#Minimun in both the list
print("Minimum in list 1:",min(L1))
print("Minimun in list 2:",min(L2))

Minimum in list 1: 10
Minimun in list 2: 13

In [68]:
#Maximum in both the list 
print("Maximum in list 1:",max(L1))
print("Maximum in list 2:",max(L2))

Maximum in list 1: 29
Maximum in list 2: 30

In [69]:
#Sum of both the lists
L5=L1+L2
print("Sum of both the list:",L5)

Sum of both the list: [10, 29, 18, 14, 24, 19, 15, 25, 23, 10, 17, 23, 25, 27, 28, 13, 28, 15, 30, 19]

In [75]:
L=list(range(100))
for i in range(100):
  L[i]=(r.randint(100,900))
print(L)
print("All odd numbers:")
for i in range(100):
  if L[i]%2!=0:
    print(L[i])

print("All even numbers:")
for i in range(100):
  if L[i]%2==0:
    print(L[i])

print("All prime numbers:")
for i in range(100):
  f=0
  for j in range(2,L[i]//2+1):
    if L[i]%j==0:
      f=1
  if f==0:
    print(L[i])

[727, 437, 196, 398, 812, 761, 671, 344, 622, 183, 841, 561, 515, 427, 633, 555, 708, 134, 216, 873, 311, 486, 639, 381, 774, 797, 894, 553, 194, 852, 388, 255, 783, 699, 539, 146, 726, 843, 787, 338, 872, 730, 197, 615, 513, 802, 347, 666, 106, 465, 855, 545, 619, 335, 226, 331, 681, 622, 786, 714, 862, 787, 134, 626, 284, 302, 684, 771, 468, 525, 397, 725, 239, 758, 490, 115, 324, 351, 224, 266, 615, 477, 288, 897, 532, 648, 425, 714, 298, 625, 647, 621, 466, 218, 123, 571, 574, 172, 145, 660]
All odd numbers:
727
437
761
671
183
841
561
515
427
633
555
873
311
639
381
797
553
255
783
699
539
843
787
197
615
513
347
465
855
545
619
335
331
681
787
771
525
397
725
239
115
351
615
477
897
425
625
647
621
123
571
145
All even numbers:
196
398
812
344
622
708
134
216
486
774
894
194
852
388
146
726
338
872
730
802
666
106
226
622
786
714
862
134
626
284
302
684
468
758
490
324
224
266
288
532
648
714
298
466
218
574
172
660
All prime numbers:
727
761
311
797
787
197
347
619
331
787
397
239
647
571

In [77]:
D={1:"One",2:"Two",3:"Three",4:"Four",5:"Five"}
f=open("file.txt","w")
for i in D:
  f.write(str(i)+" "+D[i])
f.close()

In [78]:
L={"One","Two","Three","Four","Five"}
for i in L:
  print(i ,",",len(i))

Four , 4
One , 3
Three , 5
Two , 3
Five , 4

In [81]:
#Write to the file random 100 strings whose length between 10 and 15
file=open("random.txt","w")
for i in range(100):
  k=r.randint(10,15)
  l=r.sample(s.ascii_letters,k)
  p="".join(l)
  file.write(p)

In [82]:
#Write to the file all prime numbers between 600 and 800
file2=open("file2.txt","w")
for i in range(600,801):
  f=0
  for j in range(2,i//2+1):
    if i%j==0:
      f=1
  if f==0:
    file2.write(str(i))

In [83]:
#WAP to create a dictionary of student marks in five subjects and you have to find the subject having maximum and minimum average marks
Dict={99:"maths",93:"physics",93:"english",97:"chemistry",96:"computer science"}
maxd=max(Dict)
mind=min(Dict)
print("Maximum marks in ",Dict[maxd])
print("Minimum marks in ",Dict[mind])

Maximum marks in  maths
Minimum marks in  english